<%= simple_form_for @content_level do |f| %>
<%= f.text_field :content_type_level_id, as: :hidden, class: 'hidden form-control', value: @content_type.id unless @content_type.nil? %>
  <% if @content_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_level.errors.count, "error") %> prohibited this content_level from being saved:</h2>

      <ul>
      <% @content_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-8">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :level %><br>
    <%= f.number_field :level, class: 'form-control' %>
    <%= f.label :shorted %><br>
    <%= f.text_area :shorted, class: 'form-control' %>
	<br>
	<%= f.submit class: 'btn btn-primary' %>
</div>
<div class="row"></div>
<% end %>
