<div class="content-actions pull-right">
	<%= link_to '<i class="fa fa-check"></i> New Content Level'.html_safe, new_content_level_path, class: 'btn' %>
</div>
<h2 class="page-header">Levels</h2>

<% @content_levels.each do |content_level| %>
	<div class="panel panel-black panel-widget col-sm-9">
		<div class="row no-padding">
			<div class="col-sm-3 col-lg-5 widget-left">
				<svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>
			</div>
			<div class="col-sm-9 col-lg-7 widget-right">
				<div class="large"><%= content_level.name %></div>
				<div class="text-muted"><%= content_level.shorted %></div>
				<div class="form-group"></div>
				<ul><strong>Active Topics</strong>
					<% content_level.topics.each do |t| %>
					<li><%= link_to t.name, topic_path(t) %></li>
					<% end %>
					<% if content_level.topics.empty? %>
						<li class="text-danger">No active topics at this level.</li>
					<% end %>
				</ul>
				<div class="actions">
					<%#= link_to "<i class='fa fa-lightbulb-o'></i> New Topic for #{content_level.name}".html_safe, new_topic_path(:content_type_id => content_level.id) %>
					<%= link_to 'Show', content_level %> | 
					<%= link_to 'Edit', edit_content_level_path(content_level) %>
				</div>
			</div>
		</div>
	</div>
<% end %>


