<%= link_to 'Delete Level', @content_level, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger absolute-button' %>

<h2 class="page-header"><%= @content_level.name %></h2>
<p class="text-muted">
	<%= @content_level.shorted %>
</p>

<p>
  <strong>Name:</strong>
  <%= @content_level.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @content_level.level %>
</p>

<p>
  <strong>Shorted:</strong>
  <%= @content_level.shorted %>
</p>
