<div class="panel-body">
	<% if session[:user_level_setting].nil? %>
		<div class="alert alert-danger">
			It looks like your content level is not set. Please set it to continue.
		</div>
	<% else %>
		<div class="alert alert-info">
			<%= "Your current user level is: #{ContentLevel.find(session[:user_level_setting]).name}" %>
		</div>
	<% end %>

	<div class="form-group">
		<%= simple_form_for :user_level, 
		:url => set_user_level_path,
			:method => 'post' do |f| %>
		<%= f.collection_select :content_level_id, provide_available_levels, :id, :name, {}, class: 'form-control', selected: session[:user_level_setting] %>
		<div class="form-group center">
			<br>
			<%= f.submit class: 'btn btn-lg btn-primary' %>
		</div>
		<% end %>
	</div>
</div>