<div class="panel-body">
	<%= link_to 'Change User Level', change_user_level_path, :remote => true, class: 'pull-right btn' %>
</div>

<div id="open"></div>

<div class="explorer">
	<% @content_types.each do |ct| %>
	<% if !ct.topics.where(:content_level_id => provide_user_level).empty? %>
	<div class="col-sm-6">
		<div class="col-sm-10 col-sm-offset-1 panel panel-primary <%=ct.color.downcase %>">
			<h3><%= ct.name %></h3>
			<div class="panel-body">
				<% ct.topics.where(:content_level_id => provide_user_level).each do |topic| %>
				<p><%= link_to topic.name, topic_path(topic) %></p>
				<% end %>
			</div>
			
		</div>
	</div>
	<% end %>
	<% end %>
</div>