<%= simple_form_for @content_type do |f| %>
  <% if @content_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_type.errors.count, "error") %> prohibited this content_type from being saved:</h2>

      <ul>
      <% @content_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='form-group'>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
</div>
<div class='form-group'>
	<%= f.label :description %><br>
	<%= f.text_area :description, class: 'form-control' %>
</div>
<div class='form-group col-sm-6 row'>
	<%= f.label :color %><br>
	<%= f.select :color, @colors, {}, class: 'form-control' %>
</div>
<div class="form-group col-sm-12 row">
	<%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
