<div class="content-actions pull-right">
	<%= link_to '<i class="fa fa-check"></i> New Content Type'.html_safe, new_content_type_path, class: 'btn' %>
</div>

<h2 class="page-header">Types</h2>

<% @content_types.each do |content_type| %>
	<div class="panel panel-<%=content_type.color.downcase %> panel-widget col-sm-9">
		<div class="row no-padding">
			<div class="col-sm-3 col-lg-5 widget-left">
				<svg class="glyph stroked blank document"><use xlink:href="#stroked-blank-document"/></svg>
			</div>
			<div class="col-sm-9 col-lg-7 widget-right">
				<div class="large"><%= content_type.name %></div>
				<div class="text-muted"><%= content_type.description %></div>
				<div class="form-group">
					<br>
					<%= link_to "<i class='fa fa-lightbulb-o'></i> New Topic for #{content_type.name}".html_safe, new_topic_path(:content_type_id => content_type.id) %>
				</div>
				<ul><strong>Active Topics</strong>
					<% content_type.topics.each do |t| %>
					<li><%= link_to t.name, topic_path(t) %></li>
					<% end %>
                    <% if content_type.topics.empty? %>
                        <li class="text-danger">No active topics for this type.</li>
                    <% end %>
				</ul>
				<div class="actions">
					<%= link_to 'Show', content_type %> | 
					<%= link_to 'Edit', edit_content_type_path(content_type) %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<br>


