<div class="content-actions pull-right">

	<%= link_to "Add Topic", new_topic_path(:content_type_id => @content_type.id), class: 'btn' %>
	<%= link_to 'Add Content Level', new_content_level_path, class: 'btn' %>
	<%= link_to 'Edit Content Type', edit_content_type_path(@content_type), class: 'btn' %>
	
	<br>
	<%= link_to 'Delete Type', @content_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger absolute-button' %>
	

</div>

<h2 class="page-header"><%= @content_type.name %></h2>
<p class="text-muted">
  <%= @content_type.description %>
</p>

<div class="row">
<!--
	<div class="col-sm-12">
		<h4 class="section-header">Levels</h4>
		<% ContentLevel.where(:content_type_level_id => @content_type.id).each do |cl| %>
		<p><%= link_to cl.name, content_level_path(cl) %></p>
		<% end %>
	</div>
-->
	
	<div class="col-sm-12">
		<h4 class="section-header">Topics</h4>
		<% @content_type.topics.each do |topic| %>
		<div class="panel-body">
			<p><strong><%= link_to topic.name, topic_path(topic) %></strong></p>
			<p><%= link_to "Edit", edit_topic_path(topic) %></p>
		</div>
		<% end %>
	</div>

</div>






<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>