<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="center">
				<a class="navbar-brand center" href="/"><span>flat</span>iron</a>
			</div>
			<div class="panel-heading">Log in</div>
			<div class="panel-body">
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<%= f.error_notification %>
					<div class="form-inputs">
						<%= f.label :email %>
						<%= f.input_field :email, required: false, autofocus: true, class: 'form-control' %>
						<%= f.label :password %>
						<%= f.input_field :password, required: false, class: 'form-control' %>
						<div class="checkbox">
							<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
						</div>
					</div>

					<div class="form-actions">
						<%= f.button :submit, "Log in" %>
					</div>
				<% end %>
				<hr />
				<%= render "users/shared/links" %>
			</div>
		</div>
	</div>
</div>

