<%= simple_form_for @topic  do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-sm-8">
	<%= f.input :content_type_id, as: :hidden, input_html: {value: @content_type.id} %>
	<div class="form-group">
		<%= f.label :name, "Title" %><br>
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :content_level_id, "What Level is this?" %><br>
		<%= f.collection_select :content_level_id, provide_available_levels, :id, :name, {}, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :description, "Description/Notes" %><br>
		<%= f.text_area :description, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :content %><br>
		<%= f.text_area :content, class: 'form-control wysiwyg', rows: '5' %>
	</div>
	<div class="form-group">
		<%= f.submit class: 'btn btn-primary' %>
	</div>
</div>

<% end %>


<script>
$(function() {
$('#topic_content').froalaEditor();
});
</script>