<h2 class="page-header">All Topics</h2>

<div class="bootstrap-table">
	<table class="table table-striped" data-toggle="table" data-sort-name="name" data-sort-order="desc" data-show-refresh="true" data-show-toggle="true" data-show-columns="true">
	  <thead>
		<tr>
		  <th data-field="name"  data-sortable="true">Name</th>
		  <th data-field="description">Description</th>
		  <th data-field="type"  data-sortable="true">Type ID</th>
		  <th></th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @topics.each do |topic| %>
		  <tr>
			<td><%= topic.name %></td>
			<td><%= topic.description %></td>
			<td><%= topic.content_type_id %></td>
			<td></td>
			<td><%= link_to 'Show', topic %></td>
			<td><%= link_to 'Edit', edit_topic_path(topic) %></td>
			<td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	
</div>

<br>
