<div class="col-sm-9">
	
	<div class="panel-body">
		<h1><%= @topic.name %></h1>
		<div class="panel-body description">
			<div class="label label-info pull-right"><%= ContentLevel.find(@topic.content_level_id).name %></div>
			<p class="text-muted"><%= @topic.description %></p>
		</div>
		

		<blockquote>
          	<%= @topic.content.html_safe %>
		</blockquote>
	</div>
	
	<div class="panel-body">
		<%= link_to 'Explore More', explorer_path, class: 'btn btn-info' %>
		<%= link_to 'Edit', edit_topic_path(@topic), class: 'btn btn-warning' if user_signed_in? %>
	</div>

</div>