$teal: #1ebfae;
$blue: #30a5ff;
$orange: #ffb53e;
$red: #f9243f;
.center {text-align: center;}

.main {
	margin-top: 15px;
}

.notifications {
	width: 80%;
	margin: 0 auto;
}


/*  - dashboard */
.widget-right {
	height: auto;
}

.panel-black {
	.widget-left{
		background-color: #4C5155;
		color: #fff;
	}
}

.absolute-button {
	position: fixed;
	bottom: 15px;
	right: 15px;
}


.explorer {
	max-width: 95%;
	margin: 0 auto;
	.panel {
		border-top: 10px solid #4C5155;
		&.teal {border-color: $teal;}
		&.red {border-color: $red;}
		&.blue {border-color: $blue;}
		&.orange {border-color: $orange;}
	}
}

.section-header {
	font-weight: 600;
}