<div class="notifications">
	<% if notice %>
		<div class="alert alert-info notice">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= notice %>
		</div>
	<% end %>
	<% if alert %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= alert %>
		</div>
	<% end %>
</div>