<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
			<p>Content Engine</p>
<!--            <input type="text" class="form-control" placeholder="Search">-->
        </div>
    </form>
    <ul class="nav menu">
        <!--<li><%= link_to '<svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard'.html_safe, root_path %></li>-->
		<li><%= link_to '<svg class="glyph stroked map"><use xlink:href="#stroked-map"/></svg> Explorer'.html_safe, explorer_path %></li>
		<li><%= link_to '<svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> Content Levels'.html_safe, content_levels_path %></li>
		<li><%= link_to '<svg class="glyph stroked blank document"><use xlink:href="#stroked-blank-document"/></svg> Content Types'.html_safe, content_types_path %></li>
		<li><%= link_to '<svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg> Topics'.html_safe, topics_path %></li>
<!--
        <li class="parent ">
            <a href="#">
                <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown 
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                    </a>
                </li>
                <li>
                    <a class="" href="#">
                        <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                    </a>
                </li>
            </ul>
        </li>
-->
        <li role="presentation" class="divider"></li>
		<% if user_signed_in? %>
		  <li><%= link_to('<svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout'.html_safe, destroy_user_session_path, :method => :delete) %></li>
		<% else %>
		  <%= link_to('<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login'.html_safe, new_user_session_path) %>  
		<% end %>
    </ul>

</div><!--/.sidebar-->