<!DOCTYPE html>
<html>
<head>
	<title>Flatiron</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<%= render 'layouts/header' %>
		<%= render 'layouts/sidebar' %>
	<% else %>
	<% end %>

	<% if user_signed_in? %>
		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
			<%= render 'layouts/notifications' %>
			<%= yield %>
		</div>
	<% else %>
		<div class="col-sm-10 col-sm-offset-1">
			<%= yield %>
		</div>
	<% end %>

</body>
</html>
