<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">Register</div>
			<div class="panel-body">
				<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<div class="row">
						<%= f.error_notification %>
						<div class="col-sm-12">
							<%= f.label :email %>
							<%= f.input_field :email, required: true, autofocus: true, class: 'form-control' %>
						</div>

						<div class="col-sm-12">
							<%= f.label :password %>
							<%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control" %>
							<%= f.label :password_confirmation %>
							<%= f.input_field :password_confirmation, required: true, class: "form-control" %>
						</div>

					</div>
					<div class="form-actions">
						<br>
						<%= f.button :submit, "Sign Up" %>
					</div>
				<% end %>
				<hr />
				<%= render "users/shared/links" %>
			</div>
		</div>
	</div>
</div>